$textoResaltado: (
    walterWhite: $verde,
    metanfetamina: $azul,
    jessePinkman: $amarillo,
);
@each $palabra , $color in $textoResaltado {
    .#{$palabra}{
        color: $color;
        font-weight: bold;
    }
}